.app {
  background-color: #282c34;
  height: 35rem;
}

.navbar-container{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 3rem;
padding-top: 2rem;
}

.app-body{
  color: white;
  margin: 0 3rem;
  padding-top: 2rem;
}

.about-container{
  display: flex;
  justify-content: space-evenly;

}
.app-body-text{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.about-content{
  width: 15%;
}

.awesome-btn{
  background-color: white;
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
  border-radius: 5%;
}